---

/* props de la api */
interface Props {
	url: string;
	name: string;
	showName?: boolean;
	isBig?: boolean;
	
}

const {url, name,showName = true,isBig=false} :Props = Astro.props;

/* obtener el id para pokemon */
const id = url.split('/').at(-2);

/* agregar */
const urlImage = `https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/${id}.png`;

---


<div class:list={[
	`bg-slate-500`,
	{
		'bg-transparent p-4': isBig,
		'bg-slate-500 rounded-lg shadow-lg p-4': !isBig
		
	}
		]
		}
		>

	

	<a href={`/pokemons/${name}`} class="no-underline text-blue-800">
		{showName && 
		<h2 class={`text-xl font-bold text-center capitalize ${isBig ? 'text-3xl' : ''}`}>
			#{id} {name}
			</h2>}		
	<img class:list={
		[`mx-auto p-3`,
			{
				'w-100 h-99': !isBig ,
				'w-[60vh] h-[60vh] m-[-50px]': isBig
			}
				
		]

		/* ${isBig ? 'w-[60vh] h-[50vh]':'w-100 h-100 mx-auto p-3' */
	} src={urlImage} alt={name}/>


	</a>
	
	
</div>

<!-- https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/1.png" -->


